<div class="modal fade" tabindex="-1" role="dialog" id="modal-asnwer-changing-warning" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog answer-changing-warning" role="document">
        <div class="modal-header">
            <h6>{{ translations.answer_changing_warning.title }}</h6>
        </div>
        <div class="modal-content">
            <div class="content">
                <button class="btn btn-primary btn-lg" id="submit-form">{{ translations.answer_changing_warning.yes }}</button>
                <span class="p-3"></span>
                <button class="btn btn-primary btn-lg" data-dismiss="modal">{{ translations.answer_changing_warning.no }}</button>
            </div>
        </div>
    </div>
</div>
