{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load static %}
{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-questions.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/Chart.css" %}" />

    <script type="text/javascript" src="{% static "survey/js/qrcode.min.js" %}"></script>
    <script type="text/javascript" src="{% static "survey/js/Chart.bundle.min.js" %}"></script>

    <script type="text/javascript" src="{% static "survey/js/survey-questions.js" %}"></script>
    {% if txtscore >= min_acceptable_score %}
        <script type="text/javascript" src="{% static "survey/js/send-email.js" %}"></script>
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- <div class="float-right mx-4 my-2 p-2 border rounded border-primary bg-bright-blue" styles="width: 200px">
        <div><h4>{{ translations.txtdownload }}:</h4></div>
        <div class="text-center py-2">
            <img src="{% static "images/reportLogo.png" %}" alt="DOC ICON">
        </div>
        <div class="text-center py-2">
            <a href="{{ reportlink }}/en" class="p-1"><img src="{% static "images/flags/en.png" %}" alt="en"></a>
            <a href="{{ reportlink }}/fr" class="p-2"><img src="{% static "images/flags/fr.png" %}" alt="fr"></a>
            <a href="{{ reportlink }}/de" class="p-2"><img src="{% static "images/flags/de.png" %}" alt="de"></a>
        </div>
    </div> -->

    <div class="py-2 px-4">
        {% include 'survey/changeLang.html' %}

        <h2>{{ translations.txtreport }}:</h2>
        <div class="qrcode"></div>
        {{ description }}

        <div class="py-2">
            <p class="continue-later-link">
                <button class="pl-0 btn btn-link" type="button" name="continue-later" data-toggle="modal" data-target="#modal">{{ translations.continue_later.button }}</button>
            </p>
        </div>
    </div>

    <div class="py-2 px-4">
        {% for category, items in recommendations.items %}
            <h4>{{ category | safe }}</h4>
            <ol>
                {% for recommendation in items %}
                    <li>{{ recommendation | safe }}</li>
                {% endfor %}
            </ol>
        {% endfor %}
    </div>

    <div class="pb-4" style="text-align: center">
        <button class="btn btn-light border border-rounded" type="button" name="general-feedback" data-toggle="modal" data-target="#modal-feedback">{{ translations.general_feedback.button }}</button>
    </div>

    <div class="modal fade" tabindex="-2" role="dialog" id="modal-feedback" aria-labelledby="Fit4Cybersecurity Feedback" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-header">
                <h4>{{ translations.general_feedback.title }}</h4>
            </div>
            <div class="modal-content">
                <form action="/survey/feedback" method="POST">
                    {% csrf_token %}

                    {% bootstrap_form general_feedback_form label_class="d-none" %}

                    <div class="content">
                        <button class="close-popup btn btn-link float-left" type="button" data-dismiss="modal">{{ translations.general_feedback.button_close }}</button>
                        <input type="submit" class="btn btn-primary float-right" value="{{ translations.general_feedback.button_send }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'survey/continue.html' %}
    {% include 'survey/leaveSurvey.html' %}

{% endblock %}
